body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  overflow: hidden;
}

.View { position: absolute; left: 250px; }
.View>svg { background: #000; }
.hidden { display: none; }
#sun { fill: #c00; }
.orbit { stroke: #222; fill: none; }
.orbit.hover { stroke: #334; stroke-width: 3; }
.orbit.selected { stroke: #446; stroke-width: 3; }
.planet { stroke-width: 0; fill: #ffffffaa; }
.planet.hover { fill: #ccccffcc; }
.planet.selected { fill: #88f; }
.dist-axis * { stroke: #fff !important; }
.radi-slider { position: absolute; left: 40px; bottom: 40px; }

.info-card {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
  color: #fff;
  background-color: #0008 !important;
}
.info-card span { color: #fff !important; }
.info-card-link { position: absolute !important; right: 8px; }

.Table { width: 250px; }
.ReactTable { height: 95vh; font-size: 12px; }
.select-bar button { width: 50%; }