body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  overflow: hidden;
}

.View { position: absolute; left: 300px; }
.View>svg { background: #000; }
.hidden { display: none; }
#sun { fill: #c00; }
.orbit { stroke: #222; fill: none; }
.orbit.hover { stroke: #334; stroke-width: 3; }
.orbit.selected { stroke: #446; stroke-width: 3; }
.planet { stroke-width: 0; fill: #ffffffaa; }
.planet.hover { fill: #ccccffcc; }
.planet.selected { fill: #88f; }
.dist-axis * { stroke: #fff !important; }

.overlay {
  position: absolute !important;
  background-color: #0008 !important;
  color: #fff;
}
.overlay span { color: #fff !important; }

.control-panel {
  margin-top: 0 !important;
  left: 10px; top: 0px;
  font-size: 12px;
  width: 230px;
}
.control-panel span { font-size: 12px !important; }
.control-panel li { padding: 0 0 5px !important; }

.info-card { top: 10px; right: 10px; width: 300px; }
.info-card-link { position: absolute !important; right: 8px; }

.Table { position: absolute; background: white; height: 100vh; }
.Table .clear-filter { padding: 0; margin-top: 3px; }
.ReactTable { height: 100vh; font-size: 12px; }
.ReactTable .rt-td { padding-bottom: 0; }
.ReactTable span.-pageInfo { margin: 0 !important; }
.ReactTable input[type=checkbox] { margin-top: 0; }
.ReactTable input[type=number]::-webkit-inner-spin-button,
.ReactTable input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
